<div class="tlt">
    <ul class="texts">
        <li data-in-effect="fadeInLeftBig" data-out-effect="fadeOut">C'est parti !</li>
        <li data-in-effect="fadeInLeftBig" data-out-effect="fadeOut">Attention !</li>
        <li data-in-effect="fadeInLeftBig" data-out-effect="fadeOut">Souriez !</li>
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.tlt').textillate({
            callback: function () {
                $.ajax("/take-picture")
                        .success(function (data) {
                            $("#container").load("/show-picture/" + data.filename);
                        });
            }
        });
    })
</script>